<article class="sk-event">
    <div class="sk-die">{{data.size}}d</div>
    <h3 class="sk-event-title">{{data.label}}</h3>
    <ul class="sk-bullets">
        <li>{{data.event1}}</li>
        <li>{{data.event2}}</li>
        <li>{{data.event3}}</li>
    </ul>
</article>
