<div class="form-group">
    <div class="inline-fields">
        <label>
            Title
            <input type="text" name="{{path}}.label" maxlength="20" value="{{ pool.label }}"  data-dtype="String" />
        </label>

        <label>
            Clock
            <input type="number" name="{{path}}.clock" min="0" max="6"  value="{{ pool.clock }}"  data-dtype="Number" />
        </label>
    </div>

    <h3>Events</h3>
    <ol>
        <li>
            <label>
                <input type="text" name="{{path}}.event1" maxlength="40" value="{{ pool.event1 }}" data-dtype="String" />
            </label>
        </li>
        <li>
            <label>
                <input type="text" name="{{path}}.event2" maxlength="40" value="{{ pool.event2 }}" data-dtype="String" />
            </label>
        </li>
        <li>
            <label>
                <input type="text" name="{{path}}.event3" maxlength="40" value="{{ pool.event3 }}" data-dtype="String" />
            </label>
        </li>
    </ol>
</div>

