<article class="sk-event">
    <div class="sk-die">{{pool.size}}d</div>
    <h3 class="sk-event-title">{{pool.label}}</h3>
    <ul class="sk-bullets">
        <li>{{pool.event1}}</li>
        <li>{{pool.event2}}</li>
        <li>{{pool.event3}}</li>
    </ul>
</article>

