<article class="sk-event">
    <header class="sk-event-header">
        <span class="die">{{data.clock}}D</span>
        {{data.label}}
    </header>
    <ul class="sk-event-list">
        <li>{{data.event1}}</li>
        <li>{{data.event2}}</li>
        <li>{{data.event3}}</li>
    </ul>
</article>
