<article class="sk-box">
    <p><em><b>{{data.label}}</b>: {{data.description}}</em></p>
    <ul class="sk-tri">
        <li>{{data.entry1}}</li>
        <li>{{data.entry2}}</li>
        <li>{{data.entry3}}</li>
    </ul>
</article>
