<section>
    <div class="form-group">
        <details>
            <summary>Overview</summary>
            <h3>Hooks</h3>
            <ol>
                <li>
                    {{formInput system.schema.fields.hook1 name="system.hook1" value=system.hook1
                                dataset=(object maxlength=40)}}
                </li>
                <li>
                    {{formInput system.schema.fields.hook2 name="system.hook2" value=system.hook2}}
                </li>
                <li>
                    {{formInput system.schema.fields.hook3 name="system.hook3" value=system.hook3}}
                </li>
            </ol>

            <label class="sk-field">
              <textarea
                      name="system.introduction"
                      class="sk-textarea"
                      maxlength="350"
                      data-dtype="String"
                      rows="6"
                      placeholder="Up to 315 characters…">
                  {{~system.introduction}}
              </textarea>
            </label>

            <label>
                Twist
                <input type="text" name="system.twist" value="{{system.twist}}" data-dtype="String"/>
            </label>

            <label>
                Author
                <input type="text" name="system.author" maxlength="50" value="{{system.author}}" data-dtype="String"/>
            </label>

        </details>
    </div>

    <div class="form-group">
        <details>
            <summary>Pressure Pools</summary>
            <h3>Prelude</h3>
            {{> "modules/fu-azure-compendia/templates/partials/pressure-pool-edit.hbs" path="system.prelude" pool=system.prelude}}
            <hr>
            <h3>Escalation</h3>
            {{> "modules/fu-azure-compendia/templates/partials/pressure-pool-edit.hbs" path="system.escalation" pool=system.escalation}}
            <hr>
            <h3>Climax</h3>
            {{> "modules/fu-azure-compendia/templates/partials/pressure-pool-edit.hbs" path="system.climax" pool=system.climax}}
        </details>
    </div>

    <div class="form-group">
        <details>
            <summary>Threads</summary>
            {{> "modules/fu-azure-compendia/templates/partials/thread-edit.hbs" path="system.thread1" thread=system.thread1}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/thread-edit.hbs" path="system.thread2" thread=system.thread2}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/thread-edit.hbs" path="system.thread3" thread=system.thread3}}
        </details>

    </div>

    <div class="form-group">
        <details>
            <summary>Setup</summary>
            {{> "modules/fu-azure-compendia/templates/partials/setup-edit.hbs" path="system.setup1" data=system.setup1}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/setup-edit.hbs" path="system.setup2" data=system.setup2}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/setup-edit.hbs" path="system.setup3" data=system.setup3}}
        </details>
    </div>

    <div class="form-group">
        <details>
            <summary>Challenges</summary>
            {{> "modules/fu-azure-compendia/templates/partials/challenge-edit.hbs" path="system.challenge1" data=system.challenge1}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/challenge-edit.hbs" path="system.challenge2" data=system.challenge2}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/challenge-edit.hbs" path="system.challenge3" data=system.challenge3}}
            <hr>
            {{> "modules/fu-azure-compendia/templates/partials/challenge-edit.hbs" path="system.challenge4" data=system.challenge4}}
        </details>
    </div>
</section>
